body {
    font-family: 'Segoe UI', sans-serif;
    background-color: black;
    margin: 0;
    background-image: linear-gradient(to right, #000000, #770737);
    color: white;
}

.site-header {
  background: #c0c0c0;
  color: black;
  background-image: linear-gradient(to right, #000000, #770737);
  height: 80px;
  padding: 57px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}



.main-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10rem;
  margin: 0;
  padding: 0;
}

.main-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding: 1rem 0;
  font-size: 19px;
}

.main-nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #e63946;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease;
}

.main-nav a:hover::after {
  width: 100%;
}

.contact-section {
  padding: 4rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  color: #c0c0c0;
}

.contact-section h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.contact-section p {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  color: #c0c0c0;
}

.contact-form input,
.contact-form textarea {
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #c0c0c0;
  color: #000;
}

.contact-form label {
  font-weight: bold;
}

.contact-form .btn {
  align-self: center;
  padding: 0.8rem 2rem;
}


.hamburger {
  display: none;
  font-size: 1.8rem;
  background: none;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background: #c0c0c0;
  color: #000000;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 1.5rem;
}




.footer {
  background: #222;
   background-image: linear-gradient(to right, #000000, #770737);
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}