
.grid {
  display: grid;
  gap: 24px;
}


.hero {
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 24px 16px;
}


.best-selling {
  grid-template-columns: 1fr; 
  padding: 16px 16px 48px;
  text-align: center;
}

.story-section {
  grid-template-columns: 1fr;
  padding: 32px 16px 48px;
  text-align: center;
}



/* Tablets (769px - 1024px) */
@media (max-width: 1024px) and (min-width: 769px) {
  .hero {
    grid-template-columns: 1fr;
    padding: 32px 32px;
  }

  .best-selling {
    grid-template-columns: repeat(2, 1fr);
    padding: 16px 16px 32px;
  }
}

/* Mobile (up to 768px) */
@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    padding: 24px 16px;
  }

  .best-selling {
    grid-template-columns: 1fr;
    padding: 16px 16px 32px;
  }

  .story-section {
    grid-template-columns: 1fr;
    padding: 16px 16px 32px;
  }
}